svg {
  pointer-events: none;
}

path {
  fill: none;
  stroke: black;
  stroke-width: 0.5;
}

path.line-round {
  stroke-linecap: round;
}

path.stroke-medium {
  stroke-width: 2;
}

path.stroke-light {
  stroke-width: 1.5;
}

path.stroke-thin {
  stroke-width: 1;
}